@charset "utf-8";



/* 메인가장큰글씨 */
.maintitle {
  font-size: clamp(48px, 8vw, 89px);
  font-weight: 600;
  line-height: 0.95;
  letter-spacing: 0.09em;
  color: var(--black);
  line-height: 1;
}


/* 서브큰글씨 */
.maintitle2{
  font-size: clamp(38px, 6vw, 69px);
font-weight: 600;
line-height: 1;
letter-spacing: 0.09em;
color: var(--black);
}

/* 메인회색글씨 */
.maintitle_small {
  font-size: clamp(16px, 2.2vw, 31px);
  color: var(--black200);
  line-height: 1.5;
  letter-spacing: 0.09em;

}
/* 작은검정글씨 */
.title_small {
  font-size: clamp(14px, 1.1vw, 16px);
  line-height: 1.5;
  letter-spacing: clamp(0.02em, 0.15vw, 0.06em);

}



/* 헤더네비게이션 */
.nav_set {
  font-size: clamp(10px, 1vw, 14px);
letter-spacing: clamp(1px, 0.15vw, 2px);
color: var(--black300);
}

/* 푸터네비게이션 */
.f_nav_set {
  font-size: clamp(11px, 1.2vw, 13px);
  letter-spacing: clamp(1px, 0.2vw, 2px);
  color: var(--black200);
  display: inline-block;

}

/* 서브페이지타이틀 */
.subtitle {
 font-size: clamp(7px, 1vw, 11px);
  color: var(--black200);
  text-transform: uppercase;

}

/* 작은글씨 */
.normalfont {
  font-size: clamp(12px, 1.1vw, 16px);
  line-height: 1.5;
  letter-spacing: clamp(0.02em, 0.15vw, 0.06em);
}