@charset "utf-8";

@font-face {
    font-family: "Pretendard";
    src: url("./PretendardVariable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html,
body,
button,
input,
textarea,
select {
    font-family: "Pretendard", sans-serif;
}
